# 환경 변수
.env

# 의존성
node_modules/

# 로그
logs
*.log
npm-debug.log*

# 런타임
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# 빌드
dist
build/Release

# TypeScript cache
*.tsbuildinfo

# npm
.npm
.eslintcache
*.tgz

# SSL 인증서
ssl/
*.key
*.crt
*.pem

# 로컬 파일 스토리지 경로
files/

# Working Scripts Outputs
working-scripts/outputs/